@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Zilla+Slab:wght@400;500;600&display=swap');

* {
    font-family: "Jost", sans-serif;
    color: #000;
}

section {
    padding: 1.25rem 0
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
    color: #000;
}

h1 {
    font-family: "Zilla Slab", serif;
    font-size: 2.625rem;
    line-height: 1.1;

    @media screen and (max-width: 63.9375em) {
        font-size: 2.188rem;
    }
}

h2 {
    font-size: 1.688rem;
    line-height: 1.2;
}

h4 {
    font-size: 1.063rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
}

h6 {
    text-transform: uppercase;
}

p {
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 2rem;
    text-rendering: optimizeLegibility;
}

a {
    color: #00afab;
}

ul {
    font-size: .938rem;
    line-height: 1.4;
    list-style-position: outside;
}

.dark {
    background-color: #f8f8f8;
}

.grid-container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    /* Medium and down */
    @media screen and (max-width: 63.9375em) {
        padding-top: .6rem;
        padding-bottom: .4rem;
    }
}

.button {
    font-size: 1.063rem;
    font-weight: 500;
    text-transform: uppercase;

    &.primary {
        background-color: #00afab;
        color: #ffffff;

        &:not(.active):hover {
            background-color: #99dfdd;
            border-color: #99dfdd;
            color: #fafafa;
        }

        &.active:hover {
            background-color: #00afab;
            color: #ffffff;
        }
    }

    &.secondary {
        background-color: #ffffff;
        border: 1px solid #7c7c7c;
        color: #7c7c7c;

        &:hover {
            background-color: #00afab;
            border: 1px solid #00afab;
            color: #ffffff;
        }
    }

    p, span {
        color: inherit;
    }
}